:root {
    /* Dark-theme */
    --clr-dark: #000000;
    --clr-light: #f5f5f5;
    --clr-semi-light: #848484;
}

.light-mode {
    /* Light-theme */
    --clr-dark: #f5f5f5;
    --clr-light: #000000;
    --clr-semi-light: #bdbdbd;
    background-color: #f5f5f5;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: var(--clr-light);
}
body {
    
    background-color: var(--clr-dark);
}

.toggle_btn {
    width: 1.5em;
    height: 1.5em;
    position: fixed;
    top: 75%;
    right: 1em;
}

.toggle_btn:hover {
    color: #615d5d !important; 
}

.header__text {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.header__image {
    width: 188px;
    height: 189px;
    margin-left: 50%;
    margin-bottom: 2em;
    transform: translate(-50%, 0);
    border-radius: 50%;
    z-index: -1;
    border: 2px solid var(--clr-light);
}

.link__table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-semi-light);
    border-radius: 10px;
    width: 15em;
    height: 18em;
    margin: 0 auto; /* Centers horizontally */
    gap: 1.5em;
}

.link__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
    width: 12.5em;
    margin: 0.5em;
}

.link__row:hover {
    background-color: rgb(182, 182, 182);
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.link__logo {
    width: 3em;
    height: 3em;
    color: var(--clr-light);
}

.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5em 0 2em 0;
}

.show-blog-btn {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 3em;
    background-color: var(--clr-semi-light);
    border-radius: 10px;
}

.blog__container {
    margin: 2em 0;
}

.footer__copyright {
    width: fit-content; /* alebo konkrétnu šírku, napr. width: 200px; */
    margin: 0 auto;
    color: var(--clr-semi-light);
    user-select: none;
}